.para-direita {
   background-image: url(skier.png);
   background-position: -25px -6px;
   width: 22px;
   height: 28px;
}

.para-esquerda {
   background-image: url(skier.png);
   background-position: -26px -43px;
   width: 22px;
   height: 28px;
}

.para-frente {
   background-image: url(skier.png);
   background-position: -67px -2px;
   width: 15px;
   height: 32px;
}

.caido {
   background-image: url(skier.png);
   background-position: -81px -81px;
   width: 37px;
   height: 27px;
}

.morto {
   background-image: url(skier.png);
   background-position: -239px -268px;
   width: 33px;
   height: 32px;
}

.arvore {
   background-image: url(obstacles.png);
   background-position: -0px -31px;   
   width: 28px;
   height: 32px;   
   position: absolute;
}

.arvoregrande {
   background-image: url(obstacles.png);
   background-position: -95px -67px;   
   width: 33px;
   height: 64px;   
   position: absolute;
}

.rocha {
   background-image: url(obstacles.png);
   background-position: -28px -50px;   
   width: 26px;
   height: 14px;   
   position: absolute;
}

.tocodearvore {
   background-image: url(obstacles.png);
   background-position: -252px -50px;   
   width: 18px;
   height: 13px;   
   position: absolute;
}

.cachorro {
   background-image: url(skier.png);
   background-position: -0px -205px;   
   width: 22px;
   height: 19px;   
   position: absolute;
}

.cogumelo {
   background-image: url(obstacles.png);
   background-position: -269px -47px;   
   width: 12px;
   height: 15px;   
   position: absolute;
}

.semcogumelo {
   background-image: url(obstacles.png);
   background-position: -1px -1px;   
   width: 12px;
   height: 15px;   
   position: absolute;
}

.monstro {
   background-image: url(skier.png);
   background-position: -0px -113px;   
   width: 33px;
   height: 42px;   
   position: absolute;
}

.arbustoemchamas {
   background-image: url(obstacles.png);
   background-position: -22px -100px;   
   width: 27px;
   height: 30px;   
   position: absolute;

   animation-name: arbusto;
   animation-iteration-count: infinite;
}

.monstrocomendoesquiador1 {
   background-image: url(skier.png);
   background-position: -122px -113px;   
   width: 36px;
   height: 42px;   
   position: absolute;
}

.monstrocomendoesquiador2 {
   background-image: url(skier.png);
   background-position: -156px -112px;   
   width: 32px;
   height: 43px;   
   position: absolute;
}

.monstrocomendoesquiador3 {
   background-image: url(skier.png);
   background-position: -189px -113px;   
   width: 29px;
   height: 42px;   
   position: absolute;
}

.monstrocomendoesquiador4 {
   background-image: url(skier.png);
   background-position: -218px -111px;   
   width: 25px;
   height: 44px;   
   position: absolute;
}

.monstrocomendoesquiador5 {
   background-image: url(skier.png);
   background-position: -243px -115px;   
   width: 29px;
   height: 40px;   
   position: absolute;
}

#montanha {
   border: 1px solid black;
   position: relative;
   overflow: hidden;
}

#skier {
   position: absolute;
}


