body {
	background-color: lightblue;
	background-image: url(roma.jpg);
	background-size: 1200px 1200px;
	background-repeat: no-repeat;
	background-position: center;
}

div {
	background-color: rgba(255,255,255,0.7);
	border-color: rgba(160,82,45,0.7);
	border-style: solid;
	border-width: 15px;
	border-radius: 25px;
	margin: 150px;
	width: 300px;
	padding: 20px;
	font-family: arial;
	text-align: center;
	box-shadow: 2px 2px 5px 1px gray inset;
}